<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Sections</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <table class="table">
        <caption th:text="${session.studentId}"></caption>
        <thead>
        <tr>
            <th>开课序号</th>
            <th>课程序号</th>
            <th>年份</th>
            <th>课程名称</th>
            <th>院系</th>
            <th>学期</th>
            <th>学分</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${session.my_section_id0}"></td>
            <td th:text="${session.my_course_id0}"></td>
            <td th:text="${session.my_year0}"></td>
            <td th:text="${session.my_course_name0}"></td>
            <td th:text="${session.my_dept_name0}"></td>
            <td th:text="${session.my_semester0}"></td>
            <td th:text="${session.my_credit0}"></td>
        </tr>
        <tr>
            <td th:text="${session.my_section_id1}"></td>
            <td th:text="${session.my_course_id1}"></td>
            <td th:text="${session.my_year1}"></td>
            <td th:text="${session.my_course_name1}"></td>
            <td th:text="${session.my_dept_name1}"></td>
            <td th:text="${session.my_semester1}"></td>
            <td th:text="${session.my_credit1}"></td>
        </tr>
        <tr>

        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">

</script>
</html>
